<section *ngIf="records$ | async"
         class="tutor-record">
  <table class="tutor-record__table"
         mat-table
         [dataSource]="records$ | async">
    <ng-container matColumnDef="plate">
      <th mat-header-cell *matHeaderCellDef> Plate </th>
      <td mat-cell *matCellDef="let row"> {{row.plate}} </td>
    </ng-container>
    <ng-container matColumnDef="speed">
      <th mat-header-cell *matHeaderCellDef> Speed </th>
      <td mat-cell *matCellDef="let row"> {{row.speed}} km/h </td>
    </ng-container>
    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef> Captured </th>
      <td mat-cell *matCellDef="let row"> {{row.created}} </td>
    </ng-container>
    <ng-container matColumnDef="cameraPoint">
      <th mat-header-cell *matHeaderCellDef> Map Link </th>
      <td mat-cell *matCellDef="let row"><a mat-button [href]="row.cameraPoint.mapLink" target="_blank">Open Google link</a></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</section>
