[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scikit-image = "*"
imutils = "*"
tensorflow = "*"
opencv-python = "==3.4.13.47"
pytesseract = "*"

[dev-packages]

[requires]
python_version = "3.8"
